* {
  font-family: 'Lato', sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a {
  color: #050505;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

.container-contact {
  display: flex;
  margin-top: 150px;
  margin-left: 30px;
}

#contact-from {
  margin-top: 100px;
}

.form-container {
  width: 65%;
  height: 375px;
  position: relative;
  display: block;
}

.form-background {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: .5;
}

.form-container form {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 300px;
}

.form-container input,
.form-container textarea {
  width: 400px;
  display: block;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #AAA;
  border-radius: 0;
  background-color: transparent;
}

.form-container textarea {
  height: 120px;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  font-size: 14px;
}

.form-container .submit {
  background-color: #222;
  color: #FFF;
  border: 1px solid transparent;
  width: 100px;
  position: relative;
  float: right;
  cursor: pointer;
  transition: .5s
}

.form-container .submit:hover {
  background-color: #FFF;
  color: #222;
  border: 1px solid #222;
}

#map {
  height: 400px;
  width: 100%;
}