* {
  font-family: 'Lato', sans-serif;

}

body {
  display: flex;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a {
  color: #050505;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

/* Form */
#form-container {
  background-color: #FFF;
  border-radius: 20px;

}

#login {
  margin-top: 50px;
}

@media(min-width: 768px) {
  #form-container {
    margin: 50px auto;
    padding: 50px;
  }
}

#form-container h2 {
  font-weight: 900;
  margin-bottom: 30px;
}

#form-container a {
  color: #222;
  transition: .5s;
}

#form-container a:hover {
  color: #6C63FF;
}

#form-container form {
  padding-bottom: 50px;
}

#form-container .form-control {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

#form-container .form-control:focus {
  box-shadow: none;
}

#form-container .form-floating label {
  color: #CCC;
}

#form-container .form-floating>.form-control:focus~label {
  color: #222;
}

#form-container .form-check-input:checked,
#form-container input[type="submit"] {
  background-color: #6C63FF;
  border-color: #6C63FF;
}

.btn.btn-primary {
  width: 100%;
}

@media(min-width: 768px) {
  .btn.btn-primary {
    width: auto;
  }
}

/* Image */

.row.align-items-center {
  align-content: center;
  height: 100%;
}

#link-container {
  text-align: center;
  padding-top: 50px;
}